button {
  display: block;
}
.spotiIcon {
  height: 10rem;
  margin-right: 2rem;
}
.spotiLogin {
  letter-spacing: 1rem;
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  padding-top: 7rem;
}
.login__Box {
  background-color: black;
  background-size: 100% 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  font-size: 2rem;
  width: 15%;
  font-family: "Ubuntu", sans-serif;
  color: white;
  border-bottom: 0.5rem solid #10652e;
  margin-bottom: 1rem;
}

.textbox,
.suggestSU,
h1 {
  color: white;
  display: inline;
}
.suggestSU {
  margin-bottom: 1rem;
  padding-left: 2.5%;
  overflow: initial;
  width: 20%;
  color: white;
}

.textbox {
  width: 15%;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid #10652e;
}

.textbox input {
  outline: none;
  border: none;
  background: none;
  margin-bottom: 0.5rem;
  width: 70%;
  color: white !important;
  font-family: "Roboto", sans-serif;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.signUpLink {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #1a301f;
  font-weight: 800;
}

.signUpLink:hover {
  color: #1b7539;
  transition: all 0.5s;
}

.loginButton {
  color: green;
  text-transform: uppercase;
  position: relative;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  transition: all 0.5s;
  margin-bottom: 5.5rem;
}

.loginButton:hover {
  color: white;
  background: #10652e;
  box-shadow: 0 0 10px #10652e, 0 0 40px #10652e, 0 0 80px #10652e;
}
