#Playlist {
  outline: none;
  font-family: "Nunito", sans-serif;
  height: 15rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.playlist-button {
  position: relative;
  border: none;
  width: 70%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(to top, black, transparent);
  color: whitesmoke;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.playlist-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
}
.playlist-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.5s;
  animation: animate 20s linear infinite;
}
.playlist-button:focus span {
  color: white;
}
.playlist-button:hover::after,
.playlist-button:hover::before,
.playlist-button:focus::after,
.playlist-button:focus::before {
  opacity: 1;
}
.playlist-button span {
  position: absolute;
  display: flex;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  text-align: center;
  background: #0c0c0c;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.playlist-button:hover span {
  color: rgba(255, 255, 255, 1);
}
.playlist-button:hover span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
/* .playlist-button:hover {
  color: black;
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
} */
#div-playlist-button {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
}
.playlist-remove-button {
  background-color: #31382c;
  width: 20%;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
