.PlayingSong {
  font-family: "RocknRoll One", sans-serif;
  height: 20rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.PlayingSong h3 {
  color: #20bd58;
}

.PlayingSong p {
  color: gray;
}
#playing-img {
  margin: 1rem 0 2rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

#playing-now {
  outline: none;
  background-color: #181818;
}
audio {
  display: block;
}
/* keyframes */
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
